@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Anta", sans-serif;
}

a{
    font-family: "Anta", sans-serif;
    text-decoration: none;
}

p {
    color: #f0ffffde;
}

.header {
    background: #2f2841;
    padding-inline: 16px;
}

.nav {
    max-width: 1360px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    font-size: 48px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: #f0ffffde;
    padding-block: 16px;
}

.menu {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #f0ffffde;
    cursor: pointer;
}

.menu::before,
.manu::after {
    content:"";
    display: block;
    width: 30px;
    height: 3px;
    background:#f0ffffde;
    margin-top:5px;
}


.pag-cadastro {
    width: 100vw;
    height: 120vh;
    background: #201b2c;
    align-items: center;
}

.pag-cadastro>h1 {
    color: #00ffc0;

    text-align: center;
    letter-spacing: 5px;
    font-weight: 800%;
    margin: 0%;
}

.card-cadastro {
    width: 50%;
    height: auto;
    text-align: center;
    margin-left: 23%;
    margin-top: 3%;
    padding: 20px 30px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-cadastro>h1 {
    color: #00ffc0;
    letter-spacing: 5px;
    font-weight: 800;
    margin: 0%;
}

.texto {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.texto>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.texto>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.texto>input::placeholder {
    color: #f0ffff94;
    font-family: "Anta", sans-serif;
    text-align: center;
}

.texto-horario {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.texto-horario>input {
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.texto-horario>label {
    color: #f0ffffde;
}

.texto-pes {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.texto-pes>input {
    width: 30%;
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin-left: 2%;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.texto-pes>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.texto-pes>input::placeholder {
    color: #f0ffff94;
    font-family: "Anta", sans-serif;
    text-align: left;
}

.btn-cadastrar {
    width: 75%;
    padding: 15px 0px;
    margin-top: 5%;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -3px #00ff8052;
    font-family: "Anta", sans-serif;
}

@media (max-width: 0px) {
    .menu {
        display: block;
    }
    
    .nav-list {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100vw;
        height: 100vh;
        background: #2f2841;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav.ativo .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
}
